.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1120px;
  margin: auto;
  height: 100px;
  font-family: "Mulish";
  font-weight: 700;
}

.nav-menu {
  display: flex;
}

.header-nav-menu-item {
  margin: 0 25px;
}

a.vi-nav-link {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #001a49;
  text-decoration: none;
}

.header-autorisation-menu {
  display: flex;
}

.header-sign-in {
  margin-right: 50px;
  color: #001a49;
  text-decoration: none;
}

.header-reg {
  width: 147px;
  height: 50px;
  background: linear-gradient(44.11deg, #cd10ff 15.75%, #9f06ff 84.63%);
  border-radius: 33px;
  color: #ffffff;
  text-decoration: none;
}

.header-reg:hover {
  color: #ffffff;
  background: linear-gradient(44.11deg, #9a0fc0 15.75%, #7805be 84.63%);
}

.repeat {
  display: flex;
  align-items: flex-end;
  justify-content: end;
}
